/* Colors */
$color-blue: #2d366f;
$color-green: #a6ce3a;
$color-gray: #6e6f73;
$color-white: #ffffff;

/* Helpers */
.center
{
	text-align: center;
}

/* General */
* {
	font-family: Arial,'san-serif';
}
#wrapper
{
	width: 700px;
	position: relative;
	margin: 0 auto;
}
table
{
	width: 100%;
	margin: 10px 0;
}
thead tr
{
	background-color: $color-blue;
}
th
{
	font-weight: bold;
	color: $color-green;
	text-transform: uppercase;
	padding: 5px 0;
}