#header
{
	padding-top: 60px;

	.title
	{
		color: $color-blue;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}

	.logo
	{
		background-image: url('../img/logo.png');
		width: 281px;
		height: 75px;
		float: right;
		font-size: 0;
	}

	.text
	{
		color: $color-gray;
		clear: both;
		padding-top: 20px;

		.green
		{
			background-color: $color-green;
			color: $color-white;
			font-weight: bold;
			display: inline-block;
			padding: 3px 6px;
			font-size: 1.3em;
		}
	}
}